#zl_review_box{
    margin: 30px 0;
    border: 1px solid #e5e5e5;
    overflow: hidden;
}

.zl_review_head{
    padding: 20px 25px;
    overflow: hidden;
    font-weight: 900;
    font-size: 20px;
    background: #f7f7f7;
    border-bottom: 1px solid #e5e5e5;
}

.zl_review_head h2{
    font-weight: 900;
    font-size: 20px;
    margin: 0;
    line-height: 1;
}

.zl_review_criteria_item{
    padding: 15px 25px;
    overflow: hidden;
    font-size: 14px;
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.zl_review_criterias .zl_review_criteria_item:last-of-type{
    border: none;
}

.zl_review_criteria_item_label{
    float: left;
}

.zl_review_criteria_item_score{
    float: right;
    font-weight: bold;
}

/*Score Bar*/
.zl_review_indicator_base{
    width: 100%;
    position: relative;
    height: 10px;
    border-radius: 90px;
    overflow: hidden;
    margin-top: 10px;
    background: #f1f1f1;
}

.zl_review_indicator_base > div{
    height: 100%;
    position: relative;;
    height: 10px;
    left: 0;
    margin: auto 0;
    background: #4db2ec;
    border-radius: 90px;
}

html[dir="rtl"] .zl_review_indicator_base > div{
    right: 0;
    left: inherit;
    background: #4db2ec;
}

/*FOOTER REVIEW*/
.zl_review_footer{
    overflow: hidden;
    font-size: 14px;
    line-height: 1;
    border-top: 1px solid #e5e5e5;
}

.zl_review_summary{
    padding: 20px 25px;
    width: 80%;
    float: left;
    border-right: 1px solid #e5e5e5;
}

.zl_postcontent .zl_review_summary p{
    margin: 0 0 15px;
    font-size: 14px;
    line-height: 22px;
}

.zl_postcontent .zl_review_summary p:only-child,
.zl_postcontent .zl_review_summary p:last-child{
    margin-bottom: 0;
}

.zl_review_avg_box{
    width: 20%;
    float: right;
    text-align: center;
    padding: 20px 25px;
}

.zl_averagescore{
    font-weight: 900;
    font-size: 40px;
    line-height: 1;
}

.zl_averagescore span{
    font-size: 20px;
}

.zl_averagelabel{
    margin-top: 10px;
    line-height: 1;
    font-weight: bold;
    color: #4db2ec;
    font-style: italic;
    letter-spacing: 1px;
}

.posconwrapper{
    overflow: hidden;
    padding: 0 25px;
    border-top: 1px solid #e5e5e5;
    display: block;
}

ul.procons{
    padding: 20px 0;
    list-style: none;
    width: 50%;
    margin: 0!important;
    float: left;
    overflow: hidden;
    margin-top: 15px;
    border-right: 1px solid #e5e5e5;
}

.posconwrapper ul.procons:last-child{
    padding-left: 25px;
    border-left: 1px solid #e5e5e5;
    border-right: none;
    left: -1px;
    position: relative;
}

.posconwrapper > ul:only-child{
    width: 100%;
}

.procons li {
    line-height: 1;
    margin-top:0!important;
    margin-bottom: 5px;
    font-size: 14px!important;
}

.procons li:last-child{
    padding-right: 25px;
}

.procons li:only-child,
.procons li:last-child{
    margin-bottom: 0;
}

.procons li span{
    color: #7abf5f;
    font-weight: bold;
}

.negative li span{
    color: #ff2d2d;
}
